# ==============================================================================
# CONFIG: haproxy.cfg
# DESC: Balanceador de carga L4 (TCP) para el Control Plane de Kubernetes.
#       Distribuye el tráfico de la API (6443) entre los 3 nodos Master.
# ==============================================================================

global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend kubernetes-frontend
    bind *:8443
    mode tcp
    option tcplog
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
    option tcp-check
    balance roundrobin
    # Health checks: Requiere 2 exitos para subir, 3 fallos para expulsar el nodo
    server master-01 10.110.19.11:6443 check fall 3 rise 2
    server master-02 10.110.19.12:6443 check fall 3 rise 2
    server master-03 10.110.19.13:6443 check fall 3 rise 2